[submodule "libs/rapidjson"]
	path = libs/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "libs/simdjson"]
	path = libs/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "libs/openssl"]
	path = libs/openssl
	url = https://github.com/openssl/openssl.git
[submodule "libs/boost"]
	path = libs/boost
	url = https://github.com/boostorg/boost.git
[submodule "libs/oneTBB"]
	path = libs/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
